<%- include('partials/header') -%>

<h1>Compose</h1>

<form action="/compose" method="post">
    <input type="text" name="text">
    <button type="submit">Post</button>
</form>

<%- include('partials/footer') -%>